<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무역 통계</title>
</head>

<body>
    <div>
        <button type="button"> 한국 무역 통계</button>
        <button type="button"> 상세 통계</button>
    </div>
    <form action="">
        <input type="radio"> 한국 수출
        <input type="radio"> 한국 수입
    </form>


    <!-- 지구본 들어감-->
    <div>

    </div>

    <div>
        주요 거래 국가
    </div>
    <div>
        거래품목
    </div>
    <div>
        수출 금액
    </div>
    <div>
        몰라1
    </div>
    <div>
        몰라2
    </div>
    <div>
        몰라3
    </div>
    <div>
        상세 통계
    </div>

</body>

</html>