<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>
<body>
        <div class="container">
            <div class="logo">
                <h2>공지사항</h2>
            </div>
        </div> <!-- .container 끝 -->
        
        <!-- 게시글 전체 목록 출력  -->
        <div class="content">

            <!-- 게시글 목록 --> <!-- 전체적으로 손봐야함 -->
            <div>
                <table border="1">
                    <tr>
                        <th class="no">글번호</th>
                        <th>제목</th>
                        <th class="hitcount">조회수</th>
                        <th class="create_date">작성일</th>
                    </tr>
                    <!--  반복 구간  -->
                    <tr th:each="board, status : ${list}">
                        <td th:text="${(list.number+1) * list.size - (list.size - status.count)}"></td>
                        <td>
                            <a th:href="@{/board/boardDetail(boardNum=${board.boardNum}, searchItem=${searchItem}, searchWord=${searchWord})}"
                                th:text="${board.boardTitle}">오늘은 화요일.</a>
                            <span th:if="${board.originalFileName != null}">
                                <img th:src="@{/images/clip.png}" alt="첨부파일" width="20px">
                            </span>
                        </td>
                        <td th:text="${board.hitCount}"> 22</td>
                        <td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd hh:mm:ss')}">2024-03-12</td>
                    </tr>
                </table>
            </div> <!-- .content 끝 -->
        
            <!-- 글쓰기 버튼 -->
            <div class="write">
                <a th:href="@{/board/boardWrite}" class="btn btn-primary">글쓰기</a>
            </div>
</body>
</html>