<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의하기</title>
    <link rel="stylesheet" href="../../static/css/Inquirymodal.css" th:href="@{/css/myPageInquiry.css}">
</head>

<body>
    <div class="modal">
        <div class="modal_body">
            <table>
                <tr>
                    <th> 제목 </th>
                    <td>
                        <input class="modalTitle" type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="modalSummary" placeholder="내용"></textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a type="button" class="send Btn btn-primary"> 전송하기</a>
            </div>
        </div>
</body>

</html>