<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정찾기 찾기</title>
</head>

<body>
    <div>
        <h4>아이디 찾기</h4>
        이메일 입력<br>
        <input type="email">
        <div class="editinfo">
            <input type="submit" class="edit Btn btn-primary">
        </div>
    </div>
    <div>
        <h4>비밀번호 찾기</h4>

        아이디<br>
        <input type="text"><br>
        이메일 입력<br>
        <input type="email">
        <div class="editinfo">
            <input type="submit" class="edit Btn btn-primary">
        </div>
    </div>
</body>

</html>