<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h2>환율 정보</h2>
    <div>
        <!--날짜창-->
        기준날짜 <input type="date" style="height: 20px;">


    </div>

    <div>
        화폐선택
        <div>
            <input type="text"> &nbsp;
            <select>
                <option >대한민국 원</option>
                <option>미국 달러</option>
                <option>뉴질랜드 달러</option>
                <option>영국 파운드</option>
            </select>
        </div>
        <div>
            <input type="text"> &nbsp;
            <select>
                <option>대한민국 원</option>
                <option >미국 달러</option>
                <option>뉴질랜드 달러</option>
                <option>영국 파운드</option>
            </select>
        </div>

    </div>

    <!-- 그래프 또는 환율 정보 들어갈꺼얌 -->

</body>

</html>