<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 쓰기</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <h2>글 쓰기</h2>
        </div>
    </div> <!-- .container 끝 -->
    
    <!-- 글쓰기 --> <!-- 전체적으로 손봐야함 -->
    <div class="content">
        <form th:action="@{/board/boardWrite}" method="POST" enctype="multipart/form-data">
            <table border="1">

                <tr>
                    <th>글제목</th>
                    <td><input id="boardTitle" type="text" name="boardTitle" required></td>
                </tr>
                <tr>
                    <th>글내용</th>
                    <td>
                        <textarea name="boardContent" id="boardContent" cols="30" rows="10" required></textarea>
                    </td>
                </tr>
    
                <tr>
                    <th>첨부파일</th>   <!-- 혹시몰라서 냅둠-->
                    <td><input id="uploadFile" type="file" name="uploadFile"></td> 
                </tr>
    
                <tr>
                    <th colspan="2">
                        <input type="submit" value="글등록" class="btn btn-primary"> &nbsp;
                        <input type="reset" value="초기화" class="btn btn-danger">
                    </th>
    
                </tr>
            </table>
    
        </form>
    </div>
</body>
</html>