<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <!-- 전체적으로 클래스명은 안적었음 하면서 적겠음-->
    <link rel="stylesheet" href="../../static/css/myPage.css" th:href="@{../../static/css/myPage.css}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a>NICE TO MATCH YOU</a> <!-- 회사로고 맨 왼쪽-->
        </div>

        <div class="gnb">
            <ul class="menubar" style="float: left;"> <!-- 메뉴들 상단 중앙-->
                <li>메뉴1</li>
                <li>메뉴2</li>
                <li>메뉴3</li>
                <li>메뉴4</li>
                <li>메뉴5</li>
            </ul>
        </div>
    </div>
    <hr>
    <aside class="myPage" style="float: left"> <!--왼쪽 메뉴바-->
        <div class="myPageBox">
            <p class="BoxTitle"> 마이페이지 </p>
            <div class="lnb">
                <!-- 리스트들 왼쪽으로 좀더 땡겨야함-->
                <ul class="myPageList">
                    <li>
                        <a class="myPagebtn">내 정보 수정</a>
                    </li>
                    <li>
                        <a class="myPagebtn">회사 정보 수정</a>
                    </li>
                    <li>
                        <a class="myPagebtn">메일함</a>
                    </li> <!--나눌지 논의 예정-->
                    <li>
                        <a class="myPagebtn">내가 찜한 회사</a>
                    </li>
                    <li>
                        <a class="myPagebtn">1:1 문의 </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <section class="info"> <!-- 프로필 정보 보여주는 곳-->
        <section>
            <div class="info companyName">
                <span>회사이름 </span> <!--회사 이름 들어갈꺼-->
                <strong>
                    <b> 담당자 이름</b> <!-- 담당자 이름-->
                </strong>
            </div>
        </section>
        <h4 class="info tit"> 기본정보 </h4>
        <div class="content">
            <table border="1">
                <tr class="content dataform">
                    <th>아이디</th>
                    <td>
                        <span>아이디</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>비밀번호</th>
                    <td>
                        <span>비밀번호</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>이메일</th>
                    <td>
                        <span>이메일</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>이름(영문)</th>
                    <td>
                        <span>이름(영문)</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>핸드폰 번호</th>
                    <td>
                        <span>핸드폰 번호</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>

                <!--회사정보는 회사프로필수정으로 변경예정-->
            </table>
            <h4 class="info tit"> 회사정보 </h4>
            <table border="1">
                <tr class="content dataform">
                    <th>회사명</th>
                    <td>
                        <span>회사명</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>설립년도</th>
                    <td>
                        <span>설립년도</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>회사 대표이메일</th>
                    <td>
                        <span>회사 대표이메일</span> <!-- 타임리프 태그 추가 필요-->

                    </td>
                </tr>
                <tr class="content dataform">
                    <th>대표자명(영문)</th>
                    <td>
                        <span>대표자명(영문)</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>국문 회사명</th>
                    <td>
                        <span>국문 회사명</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>국문 대표자명</th>
                    <td>
                        <span>국문 대표자명</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>던스번호</th>
                    <td>
                        <span>던스번호</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>회사주소</th>
                    <td>
                        <span>회사주소</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>홈페이지</th>
                    <td>
                        <span>홈페이지</span> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr class="content dataform">
                    <th>관심 키워드</th>
                    <td>
                        <!-- 관심있던 키워드 노출 예정-->
                        <span>키워드</span> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
            </table>
        </div>

        </table>
        <div class="editinfo">
            <a type="button" class="edit Btn btn-primary"> 정보 수정</a>
        </div>
    </section>
</body>

</html>