/*
@font-face: 웹 폰트를 정의하는 규칙
font-family: 폰트의 이름을 지정
font-weight: 폰트의 두께를 지정
font-style: 폰트의 스타일을 지정 (normal, italic 등).
src: 폰트 파일의 경로를 지정, 여러 형식의 폰트 파일(eot, woff2, woff, ttf)을 지정할 수 있음
font-display: swap;: 폰트를 로딩할 때, 폰트가 사용 가능하지 않을 경우 fallback 폰트를 먼저 보여주고, 폰트가 로드되면 교체하는 방식으로 보여줌
*/

@charset "utf-8";

@font-face {
    font-family: 'SUIT';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Thin.eot');
    src: url('../fonts/SUIT/SUIT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Thin.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Thin.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-ExtraLight.eot');
    src: url('../fonts/SUIT/SUIT-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-ExtraLight.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-ExtraLight.woff') format('woff'),
        url('../fonts/SUIT/SUIT-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Light.eot');
    src: url('../fonts/SUIT/SUIT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Light.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Light.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Regular.eot');
    src: url('../fonts/SUIT/SUIT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Regular.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Regular.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Medium.eot');
    src: url('../fonts/SUIT/SUIT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Medium.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Medium.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-SemiBold.eot');
    src: url('../fonts/SUIT/SUIT-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-SemiBold.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-SemiBold.woff') format('woff'),
        url('../fonts/SUIT/SUIT-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Bold.eot');
    src: url('../fonts/SUIT/SUIT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Bold.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Bold.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-ExtraBold.eot');
    src: url('../fonts/SUIT/SUIT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-ExtraBold.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-ExtraBold.woff') format('woff'),
        url('../fonts/SUIT/SUIT-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/SUIT/SUIT-Heavy.eot');
    src: url('../fonts/SUIT/SUIT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SUIT/SUIT-Heavy.woff2') format('woff2'),
        url('../fonts/SUIT/SUIT-Heavy.woff') format('woff'),
        url('../fonts/SUIT/SUIT-Heavy.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Bd.eot');
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Bd.woff2') format('woff2'),
        url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Bd.woff') format('woff'),
        url('../fonts/NanumSquareNeo/NanumSquareNeo-Bd.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Eb.eot');
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Eb.woff2') format('woff2'),
        url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Eb.woff') format('woff'),
        url('../fonts/NanumSquareNeo/NanumSquareNeo-Eb.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Hv.eot');
    src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Hv.woff2') format('woff2'),
        url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-Hv.woff') format('woff'),
        url('../fonts/NanumSquareNeo/NanumSquareNeo-Hv.ttf') format("truetype");
    font-display: swap;
}
body,
a,
button, input, select, textarea{ /* /* body, a, button, input, select, textarea: 이 규칙은 웹 페이지의 기본 텍스트 요소들에 대해 사용할 폰트를 지정 */
	font-family: 'SUIT', 'Apple SD Gothic Neo', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif;
    /* 먼저 'SUIT' 폰트를 시도하고, 해당 폰트가 사용 가능하지 않을 경우에는 다른 폰트들('Apple SD Gothic Neo', 'Helvetica', '맑은 고딕', 등)을 차례로 시도 */
	font-weight: normal; word-break: keep-all;
    /* 폰트 두께 기본, 텍스트 내의 단어가 한줄을 넘어갈 때 단어를 분리하지 않고 그대로 유지 */
}

.ff-nanum {font-family: 'NanumSquareNeo';} /* .ff-nanum {font-family: 'NanumSquareNeo';}: 특정 클래스(.ff-nanum)를 가진 요소에 'NanumSquareNeo' 폰트를 적용하도록 지정 */

